.idea/
postgres-data/
minio-data/
update/connect.bat
update/update_to_dev4_reclada_k8s.bat
2.csv
output_tmtagg.csv
src/1.sql
update/up.sql
.vscode/
draft.sql
update/run_test.bat
pg_dump.bat
update/update_config.json
update/publish_config.json
update/__pycache__/
update/update_to_dev7_reclada_k8s.bat
update/current_dump.sql
update/downgrade_dump.sql
update/darft.sql
configuration.json
dev.session.sql
