.idea/
postgres-data/
minio-data/
update/connect.bat
update/update_to_dev4_reclada_k8s.bat
2.csv
output_tmtagg.csv
src/1.sql
update/up.sql
.vscode/
draft.sql
update/run_test.bat
pg_dump.bat
update/commit_prepare.py
update/install_db.py
update/update_config.json
update/update_db.py
update/__pycache__/
update/update_to_dev7_reclada_k8s.bat
